body{
    background-color: gray;
    background-image: url('/assets/background.jpg');
}

.primary-panel{
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
}

.panel-heading {
    margin-top:10px;
    color: white;
    text-align: center;
    padding: 25px;
}

form {
    font-family: Verdana;
}

.form {
    text-align: left;
    padding: 7px;
    margin-left: 30%;
}

.form-group{
    color: white;
    font-weight: 10pt;
}

h1 {
    padding: 30px;
    text-align: center;
    color: white;
}

table, th, td {
    border: 1px solid darkolivegreen;
}

th {
    background-color: lightgray;
    color: darkgreen;
}

tr {
    background-color: whitesmoke;
    color: green;
}

table {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}


