doctype html
html
    head
        title Lab 9
        link(rel="stylesheet" href="/css/styles.css")
        script(src="/js/script.js")
        link(rel='stylesheet', href='/css/bootstrap.min.css')

    body
        form.form(name='lForm')
            .panel.primary-panel
                .panel-heading
                    h2.panel-title Lab 9
                .panel-body
                    .form-group
                        label Email Address:
                        input#email.form-control(type='text', required, name='email', ngmodel='email', placeholder='Email')
            .panel.primary-panel
                .form-group
                    label Password:
                    input#password.form-control(required, type='password', name='password', ngmodel='password', placeholder='password')
            .panel.primary-panel
                button.btn.btn-primary(type='button', onclick="login()") Login
